<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Описание животного</title>
</head>
<body>
    <h1>{{ animal.name }}</h1>
    <p>Возраст: {{ animal.age }}</p>
    <p>Вид: {{ animal.breed }}</p>
    <p>Описание: {{ animal.description }}</p>
    <p>Состояние здоровья: {{ animal.health_status }}</p>
    <a href="{% url 'animal_update' animal.pk %}">Изменить</a>
    <form action="{% url 'animal_delete' animal.pk %}" method="post">{% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
    <a href="{% url 'animal_list' %}">Вернуться к списку</a>
</body>
</html>
